*{
    padding: 0;
    margin: 0;
}
.body
{
    background: url("../img/bg3.webp");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
#board
{
    background-color: rgb(101, 200, 200);
    margin-left: 50px;
    margin-top: 50px;
    width: 80vmin;
    height: 82vmin;
    border: 5px solid red;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    border-radius: 20px ;
}
.head
{
    background-color: rgb(27, 25, 25);
    border: .25vmin solid black;
    border-radius: 10px;
    transform: scale(1.20);
}
.snake
{
    background: linear-gradient(white,black);
    border: .25vmin solid white;
    border-radius: 14px;

}
.food
{
    background-color: red;
    border: .25vmin solid black;
    border-radius: 8px;
}
#scoreBox
{
    position: absolute;
    top : 9px;
    right:50px;
    font-size: 50px;
    font-weight: 900;
    color: aqua;
}